{% extends 'base.html.twig' %}

{% block title %}Connexion à votre compte sur maison.fr{% endblock %}

{% block body %}
<div class="container mb-4 mt-4">

    <div style="margin-left: 10%; width: 30%; background-color: rgb(241, 179, 45);; padding-left: 3%; padding-right: 3%; padding-top: 1%; padding-bottom: 5%;">

        <h2 style="margin-bottom: 30px;">Réinitialisez votre mot de passe !</h2>

        {{ form_start(form) }}

        {{ form_row(form.email) }}

        <button type="submit">Valider</button>

        {{ form_end(form) }}
    </div>

</div>

{% endblock %}